<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue-char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{473,1},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green-floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{335,1},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouthshut-char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{68,83}</string>
                <key>textureRect</key>
                <string>{{539,1},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{404,1},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white-char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,84}</string>
                <key>spriteSourceSize</key>
                <string>{332,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{608,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02c974f2a53e487e8ded60ebb5c2b21:f650dd07574f66225c8171c7b96386e6:49fbe11e48f12772f12f00b8643431e7$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
